@model IEnumerable<BPUIO_OneForEachOther.Models.AuthenticationScheme>

@{
    ViewData["Title"] = "Index";
}

<h1>Authentication Schemes</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Create</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Edit</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-outline-info">Details</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-outline-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
